* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 15px;
    max-width: 990px;
}

.product-cards {
    display: flex;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
}

/* Карточка товара */

.product-card {
    max-width: 300px;
    width: 100%;
    border: 1px solid #e2e2e2;
    margin-left: 15px;
    margin-right: 15px;
    font-family: "Roboto", sans-serif;
    color: #333333;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 30px;
}

.product-card__img {
    width: 100%;
    height: 205px;
    object-fit: cover;
    object-position: center;
}

.product-card__info {
    padding: 30px 25px;
}

.product-card__info-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.product-card__info-description {
    color: #666666;
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 400;
}

.product-card__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.product-card__footer-price {
    font-size: 20px;
}

.product-card__footer-price span {
    font-size: 35px;
    font-weight: 700;
}

.product-card__footer-btn {
    width: 50px;
    height: 40px;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 0;
    line-height: 0;
    background-color: #4ed17b;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.product-card__footer-btn::after {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 20px;
    height: 20px;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='512.000000pt' height='512.000000pt' viewBox='0 0 512.000000 512.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)'%0Afill='%23fff' stroke='none'%3E%3Cpath d='M155 4721 c-45 -11 -69 -27 -103 -65 -40 -46 -56 -101 -48 -161 9%0A-60 80 -137 141 -154 25 -7 160 -11 360 -11 l320 0 272 -1264 272 -1264 -79%0A-153 c-95 -186 -119 -261 -101 -319 6 -22 26 -57 44 -77 47 -53 97 -72 192%0A-73 l80 -1 -50 -18 c-187 -63 -299 -248 -266 -437 16 -87 49 -151 113 -215%0A219 -220 594 -103 658 205 39 191 -82 392 -273 451 -35 12 170 14 1268 14%0A1072 0 1303 -3 1270 -13 -111 -35 -200 -112 -248 -214 -111 -237 42 -516 301%0A-552 306 -42 538 272 409 553 -45 99 -144 185 -244 212 l-48 13 75 1 c98 1%0A143 15 190 57 79 71 84 195 11 278 -9 10 -34 28 -56 40 l-40 21 -1437 3 -1436%0A2 34 79 c39 92 42 130 14 246 -10 44 -18 81 -17 82 1 0 720 85 1597 187 877%0A102 1617 191 1644 197 59 14 120 70 135 126 7 25 11 311 11 858 0 776 -1 822%0A-19 860 -22 48 -54 79 -103 100 -33 13 -242 15 -1902 15 -1767 0 -1865 1%0A-1870 18 -3 9 -10 46 -16 82 -15 87 -47 188 -72 222 -11 16 -38 38 -61 51 -41%0A22 -48 22 -467 24 -234 1 -438 -2 -455 -6z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/* Адаптация карточки под мобильные */

@media (max-width: 767.98px) {
    .product-card__img {
        height: 195px;
    }

    .product-card__info {
        padding: 25px 20px;
    }

    .product-card__info-title {
        font-size: 18px;
    }

    .product-card__info-description {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .product-card__footer-price {
        font-size: 18px;
    }

    .product-card__footer-price span {
        font-size: 30px;
    }
}